/* G1MRA style sheet by Adrian Johnstone a.johnstone@rhul.ac.uk 2025-10-14 */
body {font-family: sans-serif; background-color:#fefddf; font-size: 17px;}
h1 {color:#165f4b; font-weight:bold; font-size: 24px; text-align:center;}
h2 {color:#165f4b; font-weight:bold; font-size: 22px;}
h3 {color:#165f4b; font-weight:bold; font-size: 17px;}
a, a:link {text-decoration: none;color: #372AAC;}
a:hover {background-color: #ddd; }

.pagebox {display:flex; justify-content:center; flex-direction:row; flex-wrap: wrap; flex-basis:1300px}
.vbox {display:flex; flex-direction:column;}
.hbox {display:flex; flex-direction:row; flex-wrap: wrap; }
.cbox {display:flex; justify-content:center;}
.tbox {display:flex; flex-direction:column; max-width:700px; min-width:350px; font-size:17px; line-height:1.4;}
.sbox {              flex-direction:column; max-width:290px; min-width:290px; padding: 0px 10px; background-color:#eeedcf; line-height:1.4}
.sbox h1 {margin:12px 0px 0px 0px;}
.sbox h3 {font-size: 14px; margin:10px 0px 0px 0px;}
.sbox p {font-size: 13px; margin:3px 0px 3px 0px;}
.ebox {              flex-direction:column; max-width:700px; min-width:350px; padding: 0px 10px; background-color:#eeedcf; line-height:1.4}
.ebox h1 {margin:12px 0px 0px 0px;}
.ebox h3 {font-size: 14px; margin:10px 0px 0px 0px;}
.ebox p {font-size: 13px; margin:3px 0px 3px 0px;}
.content {display: flex; max-width:100%; flex-wrap: wrap; justify-content:space-between; justify-content:space-around}
.fill{flex-grow: 1;}

.navbar  {background-color: #165f4b; display: flex; padding: 2px 2px;}
.navbar  a {float: left; color: #f2f2f2; text-align: center; padding: 0px 8px; font-size: 20px;}
.navbar  a:hover {background-color: #ddd; color: black;} /* Change the color of links on hover */
.navbar  a.active {background-color: #04AA6D; color: white;} /* Add a color to the active/current link */
.logo {line-height: 0;}
.logo a img {width: 80px;}
.navMenu {flex:auto}

.flags {display: flex; flex-direction: column; font-size: 0; line-height: 0;}
.flags a img {width:30px; padding: 4px 0px;}
	
.banner {background-color:#ddd; display: flex; flex-wrap: wrap; line-height: 0; max-width:100%; justify-content:space-around}
.banner a img {height: 150px; padding: 2px 2px;}

.groupBanner {background-color:#165f4b; display: flex; flex-wrap: wrap; line-height: 0; max-width:100%; justify-content:space-around}
.groupBanner a img {height: 30px; padding: 4px 2px;}
.groupBanner a:hover {background-color: #ddd; color: black;} /* Change the color of links on hover */

