<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Calcot Grange</title>
  </head>
  <body>
    <div align="center">
      <div align="right"><a
          href="../The%20Gauge%202%20Model%20Railway.html">Back to Gauge
          2</a><br>
      </div>
      <font size="+3">Calcot Grange</font><br>
    </div>
    <br>
    Perhaps the most imposing Gauge 2 layout of all time, this model
    railway was built at Theale, Berkshire, in 1912. You can read about
    it in Ned William's <a
href="https://www.pressreader.com/uk/garden-rail/20210114/282110639348577">Garden



      Rail, January, 2021</a> article.<br>
    <br>
    We are fortunate that some items from this Edwardian wonder still
    survive, including the Brake van mentioned by Ned and the GW coaches
    described in these pages. The railway was described in the May, 1925
    edition of Model Railway News, already some time after the layout
    had been dismantled. The 'two gentlemen' are of course Krabbe and
    Brabazon, the latter the same Brabazon who held the first pilot's
    licence in England and went down in history with the huge post
    Second World War airliner that was named after him.That the railway
    is described as 1 3/4" gauge is symptomatic: Gauge 2 had already
    been consigned to history's dustbin.<br>
    <br>
    <img src="Theale%20MRN%201925%20crop%20med.jpg" alt="" width="1200"
      height="879"><br>
  </body>
</html>
