<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Gordon Hemms</title>
  </head>
  <body>
    Here's the last known description of a Gauge 2 model railway,
    discovered in the September 1933 edition of 'Model Railway News' by
    my good friend Murray Wilson:<br>
    <a href="MRN%20Gordon%20Hemm%20article%209-33-20210831144155.pdf"><br>
      Mr Gordon Hemm's Layout:</a><br>
    <br>
    <br>
  </body>
</html>
