<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>The East Coast Model Railway</title>
  </head>
  <body>
    <h1>The East Coast Model Railway</h1>
    <p>This magnificent photograph, from Dr. David Turner, "Promoting
      the Main line with Models", shows a Gauge 2 LNWR Experiment built
      for 3 rail operation by Bassett Lowke heading a train of wood
      construction coaches on the London to Scotland model railway in
      about 1908.<br>
    </p>
    <img moz-do-not-send="true"
src="The%20East%20Coast%20model%20railway/90442390_10157894127360631_4987678068383416320_n.jpg"
      alt="" width="1345" height="797"><br>
    <br>
    The picture depicts a North Western engine on the East Coast main
    line, a very unlikely occurrence, but does at least show us a model
    which has a modern counterpart, or even perhaps the same loco.<br>
    <br>
    Bassett Lowke built a magnificent trio of East Coast 'Atlantic'
    models for this layout and they are illustrated in the 1911
    catalogue, by which time they all had been destroyed in the
    ferocious Brussels Exhibition fire in 1910. Here they are:<br>
    <br>
    <a
href="The%20East%20Coast%20model%20railway/BL%20Gauge%202%20Catalogue0016.jpg"><img
        moz-do-not-send="true"
src="The%20East%20Coast%20model%20railway/BL%20Gauge%202%20Catalogue0016%20sm.jpg"
        alt="" width="640" height="453" border="0"></a><br>
    <br>
    Note the North Eastern Atlantic on the right: Although this model
    was lost, a very similar live steam version sits on my desk as I
    write this. <br>
    <br>
    <img moz-do-not-send="true"
      src="The%20East%20Coast%20model%20railway/IMG_5234%20sm.JPG"
      alt="" width="640" height="480"><br>
    <br>
    <br>
    <br>
  </body>
</html>
